@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@layer utilities {
    body {
        @apply bg-gray-50 dark:bg-gray-900 transition-colors duration-300;
        overflow-x: hidden;
        /* Prevent horizontal scroll causing white bars */
    }

    .perspective-1000 {
        perspective: 1000px;
    }

    .preserve-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .rotate-y-180 {
        transform: rotateY(180deg);
    }
}